{
  "type": "service_account",
  "project_id": "TWOJ_PROJEKT_GOOGLE_CLOUD",
  "private_key_id": "WKLEJ_Z_PLIKU_JSON",
  "private_key": "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n",
  "client_email": "nazwa@projekt.iam.gserviceaccount.com",
  "client_id": "123456789",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/nazwa%40projekt.iam.gserviceaccount.com",
  "universe_domain": "googleapis.com"
}
